/* src/index.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}

.cell {
  border-radius: 8px;
  width: 80px;
  height: 80px;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
}

.correct {
  background-color: green;
}

.misplaced {
  background-color: yellow;
  color: rgb(39, 39, 39);
}

.wrong {
  background-color: grey;
}

.keyboard {
  margin-top: 20px;
}

.key {
  border-radius: 8px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #383838;
  background-color: #242424;
  color: white;
  cursor: pointer;
}

.key:hover {
  background-color: #555;
}

.key.correct {
  background-color: green;
}

.key.misplaced {
  background-color: yellow;
  color: rgb(39, 39, 39);
}

.key.wrong {
  background-color: grey;
}

.key.wide {
  width: 60px;
}